name: Rust 1.62.1

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: icepuma/rust-action@1.62.1
      with:
        args: cargo fmt -- --check && cargo clippy -- -Dwarnings && cargo test
